@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 10px;
  padding: 10px;

  font-family: 'Roboto', sans-serif;
}

header {
  padding: 3rem;
}

main {
  padding: 0 3rem;
}

html { 
  
    background-image: linear-gradient(teal, yellow);
  
}
.banner-image {
  display:block;
  width:100%;

}


.player-container {
  display: flex;
  flex-flow: row wrap;
}

.player-card {
  box-shadow: 10px 10px 5px black;
  width:400px;
  height:auto;
  margin:1rem;
  justify-content: space-between;
  align-items: center;
}

.player-image {
  height: 300px;
  width: auto;
}

.add-player form {
  width: 300px;
}

.new-user input, select {
  display: block;
  width: 20%;
  padding: 1rem;
  margin-top: 2rem;
  margin-right: 2rem;
}
